.navigation{
   position: fixed;
   width: 100%;
   height: fit-content;
   margin: 0;
   padding: 0;
   z-index: 1;
   background-color: #BF1920;
   color: white;
   padding-left: 1em;
}
.navbar{
    display: flex;
    gap: 3em;
    margin: 1em 0;
    margin-right: 10em;
    align-items: center;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.cart-container{
    position: relative;
    width: 3em;
}

.quantity{
    position: absolute;
    top: 25%;
    right: 20%;
    font-size: 16px;
    z-index: -1;
    transition: 2s;
}
.link h1, .link h2{
    color: white
}

.img-svg{
    filter: invert(93%) sepia(0%) saturate(7473%) hue-rotate(89deg) brightness(110%) contrast(107%);
}

@media screen and (max-width: 600px) {
    .link h1{
        font-size: 1em;
        width: 10em
        
    }
    .link h2{
        font-size: 1em;
    }
    .header{
        gap: 0em;
    }
    .navbar{
        gap: 0;
        margin: 1em 0;
        margin-right: 10em;
    }
    .navigation{
        gap: 1em;
    }
}